<!DOCTYPE html>
<html>
<head>
    <title>HOT or NOT - The battle</title>
    <link rel="stylesheet" type="text/css" href="../css/hotornot.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

</head>
<body ng-app>
<div class="controller" ng-controller="HotOrNotController">


<nav class="panel" id="menu">
    <ul>
        <li><a href="#" ng-click="linieChanged(0)">Keepers</a></li>
        <li><a href="#" ng-click="linieChanged(1)">Verdedigers</a></li>
        <li><a href="#" ng-click="linieChanged(2)">Middenvelders</a></li>
        <li><a href="#" ng-click="linieChanged(3)">Aanvallers</a></li>
        <li><a href="#" ng-click="endVoting()">All-Star team</a></li>
    </ul>
</nav>




        <!--<select data-ng-options="item.linie for item in linies"
                data-ng-model="selectedLinie"
                ng-change="linieChanged()">

        </select>-->
    <div class="masthead">
        <div class="push">
            <a href="#menu" class="menu-link">&#9776;</a>
            <h1 id="title">Kies telkens uw favoriet</h1>
        </div>
    </div>

    <div class="push">
        <div id="voting" ng-show="votingVisible">
            <div class="left">
                <h2 class="name">{{playerLeft.firstname}} {{playerLeft.name}}</h2>

                <div class="player" ng-click="removeRight()">
                    <img ng-src="{{playerLeft.image}}" alt="{{playerLeft.firstname}}" title="{{playerLeft.firstname}}">
                </div>


                    <table cellspacing='0'>
                        <tr>
                            <td class="even">
                                <p class="Bold">Geboortedatum</p>
                                <p>{{playerLeft.dob}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="Bold">Caps</p>
                                <p>{{playerLeft.caps}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="even">
                                <p class="Bold">Selecties</p>
                                <p>{{playerLeft.selecties}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="Bold">Doelpunten</p>
                                <p>{{playerLeft.doelpunten}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="even">
                                <p class="Bold">Speelminuten</p>
                                <p>{{playerLeft.speelminuten}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="Bold">Positie</p>
                                <p>{{playerLeft.position}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="even">
                                <p></p>
                                <p>{{playerLeft.info}}</p>
                            </td>
                        </tr>
                    </table>
            </div>

            <div class="right">
                <h2 class="name">{{playerRight.firstname}} {{playerRight.name}}</h2>

                <div class="player" ng-click="removeLeft()">
                    <img ng-src="{{playerRight.image}}" alt="{{playerRight.firstname}}" title="{{playerRight.firstname}}">
                </div>

                    <table cellspacing='0'>
                        <tr>
                            <td class="even">
                                <p class="Bold">Geboortedatum</p>
                                <p>{{playerRight.dob}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="Bold">Caps</p>
                                <p>{{playerRight.caps}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="even">
                                <p class="Bold">Selecties</p>
                                <p>{{playerRight.selecties}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="Bold">Doelpunten</p>
                                <p>{{playerRight.doelpunten}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="even">
                                <p class="Bold">Speelminuten</p>
                                <p>{{playerRight.speelminuten}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="Bold">Positie</p>
                                <p>{{playerRight.position}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="even">
                                <p></p>
                                <p>{{playerRight.info}}</p>
                            </td>
                        </tr>
                    </table>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="push">
        <div id="lineup" ng-show="lineupVisible">
            <h1>Rode Duivels WK All-Star team</h1>
            <div id="attackers">
                <h2>Favoriete aanvallers</h2>
                <div class="attacker" ng-repeat="a in favAttackers">

                    <figure>
                        <img ng-src="{{a.image}}" alt="{{a.firstname}}" title="{{a.firstname}}">
                        <figcaption>{{a.firstname}} {{a.name}}</figcaption>
                    </figure>
                </div>
            </div>
            <div id="midfielders">
                <h2>Favoriete middenvelders</h2>
                <div class="midfielder" ng-repeat="m in favMidfielders">

                    <figure>
                        <img ng-src="{{m.image}}" alt="{{m.firstname}}" title="{{m.firstname}}">
                        <figcaption>{{m.firstname}} {{m.name}}</figcaption>
                    </figure>

                </div>
            </div>
            <div id="defenders">
                <h2>Favoriete verdedigers</h2>
                <div class="defender" ng-repeat="d in favDefenders">

                    <figure>
                        <img ng-src="{{d.image}}" alt="{{d.firstname}}" title="{{d.firstname}}">
                        <figcaption>{{d.firstname}} {{d.name}}</figcaption>
                    </figure>

                </div>
            </div>

            <div id="goalkeepers">
                <h2>Favoriete keeper</h2>
                <div class="goalkeeper" ng-repeat="g in favGoalKeepers">

                    <figure>
                        <img ng-src="{{g.image}}" alt="{{g.firstname}}" title="{{g.firstname}}">
                        <figcaption>{{g.firstname}} {{g.name}}</figcaption>
                    </figure>

                </div>
            </div>
    </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!--<script src="../../../scripts/jquery-1.11.1.js"></script>-->
    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="../../../scripts/angular.js"></script>
    <script src="../../../scripts/chart.js"></script>
    <script src="../scripts/player.js"></script>
    <script src="../scripts/HotOrNotController.js"></script>
    <script src="../scripts/menu.js"></script>


</body>
</html>