<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HOT or NOT - The battle</title>
    <link rel="stylesheet" type="text/css" href="../css/hotornot.css">

</head>
<body ng-app>

    <div class="controller" ng-controller="HotOrNotController">
        <div id="voting" ng-show="votingVisible">
            <h1>Klik om weg te sturen</h1>
            <div class="left">
                <div class="player" ng-click="removeLeft()">
                    <img ng-src="{{playerLeft.image}}" alt="{{playerLeft.firstname}}" title="{{playerLeft.firstname}}">
                    <p>Naam: {{playerLeft.firstname}} {{playerLeft.name}}</p>
                    <p>Geboortedatum: {{playerLeft.dob}}</p>
                    <p>Caps: {{playerLeft.caps}}</p>
                    <p>Selecties: {{playerLeft.selecties}}</p>
                    <p>Doelpunten: {{playerLeft.doelpunten}}</p>
                    <p>Speelminuten: {{playerLeft.speelminuten}}</p>
                    <p>Positie: {{playerLeft.position}}</p>
                </div>
                <p><span class="info">Info: {{playerLeft.info}}</span></p>
            </div>

            <div class="right">
                <div class="player" ng-click="removeRight()">
                    <img ng-src="{{playerRight.image}}" alt="{{playerRight.firstname}}" title="{{playerRight.firstname}}">
                    <p>Naam: {{playerRight.firstname}} {{playerRight.name}}</p>
                    <p>Geboortedatum: {{playerRight.dob}}</p>
                    <p>Caps: {{playerRight.caps}}</p>
                    <p>Selecties: {{playerRight.selecties}}</p>
                    <p>Doelpunten: {{playerRight.doelpunten}}</p>
                    <p>Speelminuten: {{playerRight.speelminuten}}</p>
                    <p>Positie: {{playerRight.position}}</p>
                </div>
                <p><span class="info">Info: {{playerRight.info}}</span></p>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="lineup" ng-show="lineupVisible">
            <h1>Rode Duivels WK All-Star team</h1>
            <div id="attackers">
                <h2>Favoriete aanvallers</h2>
                <div class="attacker" ng-repeat="a in favAttackers">

                    <figure>
                        <img ng-src="{{a.image}}" alt="{{a.firstname}}" title="{{a.firstname}}">
                        <figcaption>{{a.firstname}} {{a.name}}</figcaption>
                    </figure>
                </div>
            </div>
            <div id="midfielders">
                <h2>Favoriete middenvelders</h2>
                <div class="midfielder" ng-repeat="m in favMidfielders">

                    <figure>
                        <img ng-src="{{m.image}}" alt="{{m.firstname}}" title="{{m.firstname}}">
                        <figcaption>{{m.firstname}} {{m.name}}</figcaption>
                    </figure>

                </div>
            </div>
            <div id="defenders">
                <h2>Favoriete verdedigers</h2>
                <div class="defender" ng-repeat="d in favDefenders">

                    <figure>
                        <img ng-src="{{d.image}}" alt="{{d.firstname}}" title="{{d.firstname}}">
                        <figcaption>{{d.firstname}} {{d.name}}</figcaption>
                    </figure>

                </div>
            </div>

            <div id="goalkeepers">
                <h2>Favoriete keeper</h2>
                <div class="goalkeeper" ng-repeat="g in favGoalKeepers">

                    <figure>
                        <img ng-src="{{g.image}}" alt="{{g.firstname}}" title="{{g.firstname}}">
                        <figcaption>{{g.firstname}} {{g.name}}</figcaption>
                    </figure>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <script src="../../../scripts/jquery-1.11.1.js"></script>
    <script src="../../../scripts/angular.js"></script>
    <script src="../../../scripts/chart.js"></script>
    <script src="../scripts/player.js"></script>
    <script src="../scripts/HotOrNotController.js"></script>


</body>
</html>